.bg-purple {
    background-color: #993399;
}

.sombra {
    box-shadow: 15px 15px 10px #000000;
}

.text-purple {
    color: #993399;
}
.validação{
    font-size: 12px;
    margin: 3px;
    color: red;
}